<odoo>
    <menuitem name="Clinique" id="menu_clinique_root" sequence="10"/>
    <menuitem name="Departements" id="menu_departement" parent="menu_clinique_root" sequence="10"/>
    <menuitem name="Patients" id="menu_patient" parent="menu_clinique_root" sequence="12"/>
    <menuitem name="Rendez-vous" id="menu_rendez_vous" parent="menu_clinique_root" sequence="14"/>
</odoo>